body{
  color: brown;
  max-width: 768px;
  font-size: 20px;
  font-family: arial;
  text-align: center;
}
.hero {
  border: solid;
  border-color: red;
  border-radius: 10px;
  border-width: 2px;
  color: black;
  margin-bottom: 1em;
}
footer {
  font-size: .8em;
  font-family: helvetica;
  font-weight: bold;
  padding: 10px;
  background: #aaa;
  color: white;
  box-sizing: border-box;

}
